<!DOCTYPE html>
<html>
  <head>
    <title>PlaygroundFurima</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag packs_bundle_path('main.css') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
